<div class="container">

    <div class="links">
        <span> 
            <a routerLink="/login"routerLinkActive="active">Login </a>
        </span>
        <span> 
            <a routerLink="/regiter"routerLinkActive="active">Register </a>
        </span>
        <span> 
            <a routerLink="/product/list"routerLinkActive="active">Product List </a>
        </span>
        <span> 
            <a routerLink="/product/create"routerLinkActive="active">Create a product</a>
        </span>
    </div>

</div>

<hr>

<div class="container">


    <router-outlet></router-outlet>
</div>

